<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer">
            <footer class="text-center text-white" style="background-color: #7d80da" id="footer">
                <div class="container-fluid">
                        <div class="row text-center d-flex justify-content-center pt-4">
                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="#!" class="text-white">Compare</a>
                                </h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="#!" class="text-white">Best paying companies</a>
                                </h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="#!" class="text-white">Blog</a>
                                </h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="#!" class="text-white">Contact</a>
                                </h6>
                            </div>
                        </div>


                </div>
                <div
                        class="text-center p-2"
                        style="background-color:#033860">
                    © 2023-2024 CompCheck ||
                    <a class="text-white" href="https://cs50.harvard.edu/x/2023/project/"
                    >Final Project - CS50x - 2023 </a>
                </div>
            </footer>
    </div>
</body>
</html>