.navbarNavColor{
    background-color:#033860;
    --navbar-text-color: #ffffff;
}

.my_footer{
    background-color: #033860;
    --block-text-color: white;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.purple_text{
    color: #7d80da;
    font-weight:bold;
}

.btn-primary {
    background-color: #7d80da;
    border-color: #7d80da;
}

.width-date {
    width: 13rem;
}

.btn-primary:hover {
    background-color: #2D5C1E;
    border-color: #7d80da;
}

.extra-padding {
    padding-top: 1rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.outline {
    outline: #033860;
    border: #033860;
}

.center-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}