<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDefault}">

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row" style="padding-top: 2rem">
            <h1 class="purple_text"> Compensations overview </h1>
        </div>
        <table class="table table-striped table bordered">
            <thead class="table-format-compCheck">
            <tr class="text-center">
                <th>Comparison date</th>
                <th>Company</th>
                <th>Yearly PTO Hours</th>
                <th>Total Pension Deposit</th>
                <th>Yearly gross Salary </th>
                <th>Yearly net Salary </th>

            </tr>
            </thead>
            <tbody class="text-center" style="vertical-align: center">
                <tr th:each="compensation: ${compensations}">
                    <td th:text = "${#temporals.format(compensation.calculationDate, 'dd-MMM-YYYY')}"></td>
                    <td>
                        <p th:each="company : ${companies}" th:if="(${compensation.getCompanyID()} == ${company.getId()})" th:text="${company.getName()}"></p></td>
                    <td th:text = "${compensation.pto}"></td>
                    <td th:text = "${#numbers.formatCurrency(compensation.getPensionDeposit())}"></td>
                    <td th:text = "${#numbers.formatCurrency(compensation.getSalaryGrossYearly())}"></td>
                    <td th:text = "${#numbers.formatCurrency(compensation.getSalaryNettYearly())}"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>