<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDefault}">
<body>
<div layout:fragment="content">
    <div class="container-fluid-extra-padding">
        <div style="padding-top: 2rem">
            <h1 class="purple_text text-center">Whoops... something went wrong</h1>
            <h3 class="text-center"> This webpage or function does not exist</h3>
            <div class="text-center" style="padding-top: 3rem">
                <iframe src="https://giphy.com/embed/HUkOv6BNWc1HO" width="480" height="362" frameBorder="0" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>
