<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDefault}">
<body>
    <div layout:fragment="content">
        <div class="container-fluid extra-padding">
                <div class="card">
                    <h2 class="card-header purple_text">Compare your job offer</h2>
                    <div class="card-body">
                        <h5 class="card-title">How CompCheck works</h5>
                        <p class="card-text">Deciding what is the best job offer can be misleading when you only
                        take your gross yearly salary into account. ComCheck compares job offers on the most relevant
                        employee perks like: number PTO days, pension, gross yearly salary and Bonuses. We normalise all
                            these perks to make it easy to see what offer is really the best. Normalize a job offer below
                            and find it your account <b>Let's make it easy to compare.</b></p>
                        <p>Wanna know what companies have the best normalized benefits? Click on the below button.</p>
                        <a href="#" class="btn btn-secondary">See your comparisons</a>
                    </div>
                </div>
            <div style="padding-top: 3rem"></div>
            <div class="container outline">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center purple_text">Start Comparing</h5>
                                <form th:action="${index}" th:method="post" th:object="${selectCompany}" id="companySelect1">
                                        <div class="mb-3">
                                            <label class="form-label"> pick your company </label>
                                            <select th:field="*{name}" class="form-control">
                                                <option value="">Select a company</option>
                                                <option th:each="company : ${companies}" th:value="${company}" th:text="${company}"></option>
                                            </select>
                                        </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col text-center" style="padding-top: 2rem">
                <button class="btn btn-primary btn-lg submit_button" type="submit" onclick="submitForms()">Continue</button>
            </div>
        </div>
    </div>
</body>
</html>