<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDefault}">
<body>
    <div layout:fragment="content">
        <div class="container-fluid extra-padding">
                <div class="card">
                    <h2 class="card-header purple_text">Compare your job offer</h2>
                    <div class="card-body">
                        <h5 class="card-title">How CompCheck works</h5>
                        <p class="card-text">Deciding what is the best job offer can be misleading when you only
                        take your gross yearly salary into account. ComCheck compares job offers on the most relevant
                        employee perks like: number PTO days, pension, gross yearly salary and Bonuses. We normalise all
                            these perks to make it easy to see what offer is really the best. <b>fill your job offer in
                                below to find out.</b></p>
                        <p>Wanna know what companies have the best normalized benefits? Click on the below button.</p>
                        <a href="#" class="btn btn-secondary">show best paying companies</a>
                    </div>
                </div>
            <div style="padding-top: 3rem"></div>
            <div class="container outline">
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center purple_text">Benefit Package 1</h5>
                                <p> here comes a form</p>
                                <a href="#" class="btn btn-secondary">compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center purple_text">Benefit Package 2</h5>
                                <p> here comes a form</p>
                                <a href="#" class="btn btn-secondary">compare</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>